doctype html

html
  head
    meta(charset='UTF-8')
    title Trello Description Changelog (Inject)
    style.
      html, body {
        background-color: rgba(0,0,0,0)
      }
  body
    #root
    if env !== 'prod'
      script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/inject.bundle.js')
    else
      script('/js/inject.bundle.js')
